@charset "utf-8";

/*style for font*/
body {
     font-family: Arial, Helvetica, sans-serif;
}


/*style for header*/
 header {
	 text-align: right;
	 margin-right: 4px;
	 
 }
 
 
 /*style for font size of common h2*/
 h2 {
	 font-size: 26px;
 }
 
 
 /*style for name of the developer*/
.main-name {
	font-size: 34px;
	font-weight: 200;
	margin-bottom: 10px;
	padding-right: 4px;
	color: #2d3c49;
}

/*style for quote*/
.under-name {
	font-size: 24px;
	padding-right: 4px;
	color: #2d3c49;
}

/*style for Featured Work*/
.bottom-title {
	color: #7d97ad;
	text-indent: 4px;
	padding: 2px auto;
	letter-spacing: 2px;
	font-weight: 600;
	font-style: italic;
	text-align: center;
	margin-bottom: 1em;
}

/*rounding the corners of images but the big one*/
.round-corners {
    border-radius: 5px;
	border: solid 2px #02b3e4;
}

 /*style for the big pic shape*/
.img-shape {
	-webkit-clip-path: polygon(48% 27%, 86% 5%, 72% 31%, 100% 57%, 72% 74%, 76% 99%, 24% 84%, 0 88%, 15% 39%, 0 3%);
	clip-path: polygon(48% 27%, 86% 5%, 72% 31%, 100% 57%, 72% 74%, 76% 99%, 24% 84%, 0 88%, 15% 39%, 0 3%);
}

/*style for text in figcaption of the pics*/
.img-title {
	color: #2d3c49;
	font-weight: 600;
	text-transform: uppercase;
	margin: 8px auto 2px;
}

/*style for comments of the pics' title*/
.para-style {
	font-size: 20px;
	color: #2d3c49;
}

/*style for aligning the first section*/
.section-align {
	margin: 2em auto;
}

/*style for horizontal rule*/
#rule {
	background-color: #02b3e4;
	height: 3px;
	margin-top: -5px;
}

/*style for aligning the container for logo and header*/
#row-align {
	margin-bottom: -10px;
}


/*style for logo animation*/
#logo-anim {
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-iteration-count: 5; /* Safari 4.0 - 8.0 */
    animation-iteration-count: 5;
}
